.container {
  width: 100%;
  color: #fff;
}

.row {
  width: 70%;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.list li {
  margin: auto 1rem;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #fff;
}

.join {
  padding: 0.5rem 1rem;
  border: solid 2px #14c2a3;
}
