.dreamFrame {
}

.box {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.core {
  grid-row: 1 / span 2;
  background-color: rgba(34, 183, 143, 0.1);
  border: solid 2px #14c2a3;
  padding: 1rem;
  box-shadow: #14c2a3 0px 5px 15px;
}

.core h3 {
  margin-top: 0;
}

.core span {
  display: block;
  margin-bottom: 1rem;
}
