.container {
  width: 100%;
  height: 100vh;
}

.row {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 300px;
  color: #14c2a3;
  margin: 0;
  font-family: "Chakra Petch";
  text-align: center;
  text-transform: uppercase;
}

.notFound {
  font-family: "Chakra Petch";
  margin: 0;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-family: "IBM Plex Mono";
  font-size: 17px;
  text-align: center;
  color: #b9b9bf;
  margin-bottom: 3rem;
}
