.text {
  text-transform: uppercase;
  text-align: center;
}

.text span {
  display: block;
  color: #14c2a3;
}

.text h3 {
  /* margin: 0.5rem auto; */
  font-size: 1.5rem;
}

.box {
  width: 45%;
  margin: auto;
  padding: 1rem 2rem;
}

.nft {
  border: 2px solid #14c2a3;
  box-shadow: 0px 0px 32px rgba(34, 183, 143, 0.5);
  background-color: rgba(34, 183, 143, 0.1);
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(3, 253, 203, 0.1);
}

.icon {
  color: #22b78f80;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
}

.nft p {
  color: #b9b9bf;
}
