/* .container {
  margin-left: 10%;
} */

.container h1 {
  margin-left: 10%;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.nftArena {
  margin: auto 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nftArena img {
  width: 27rem;
}

.btn {
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
}

.gif {
  width: 100%;
}

.gif img {
  width: 100%;
}

.text {
  margin: 5rem 10rem;
  display: flex;
}

.describtion {
  flex: 2;
  margin-right: 3rem;
}

.possibilities {
  flex: 1;
}

.button {
  width: 50%;
}
